<link rel="stylesheet" href="/css/filter-issues.css">
<form
  action="/"
  method="get"
  id="filter-issue-form"
>
  <div>
    <span>Select labels</span>
    <% for( let label of project.labels) { %>
    <input type="checkbox" value="<%=label%>" /><%= label %> <% } %>
  </div>
  <select name="filterByAuthor" id="first">
      <option value="">authors</option>
      <% for( let issue of project.issues ) { %>
      <option value="<%= issue.author %>"><%= issue.author %></option>
      <% } %>
  </select>
  <input type="text" name="filterBytitle" placeholder="Search by title" />
  <input
    type="text"
    name="filterBydescrption"
    placeholder="Search by description"
  />
  <button type="submit">Filter</button>
</form>

<!-- Scripting for filter -->

