<link rel="stylesheet" href="/css/header.css" />
<!-- Two Containers in header gonna be saparated appart -->
<header>
  <div id="brand-name-container">
    <a href="/"><h2>Issue Tracker</h2></a>
  </div>

  <div id="header-links-container">
    <ul id="header-links-list">
      <li class="header-link">
        <a href="/">home</a>
      </li>
      <li class="header-link">
        <a href="/">home</a>
      </li>
    </ul>
  </div>
</header>
