<link rel="stylesheet" href="/css/header.css" />
<!-- Two Containers in header gonna be saparated appart -->
<header>
  <div id="brand-name-container">
    <a href="/"><h2>Issue Tracker</h2></a>
  </div>
</header>
