
<h1 style="font-weight: normal;
letter-spacing: -1px;
color: #34495E;">List of issues with the project</h1>

<ul id="issues-list">
  <% for( let issue of issues ) { %>
  <li style="list-style: none;"><%= issue.title %></li>
  <% } %>
</ul>
