<table id="project-table">
  <tr>
    <th>Name</th>
    <th>Description</th>
    <th>Author</th>
    <% if (project.issues.length>0) { %>
    <th>Issues</th>
    <%}%>
  </tr>
  <tr>
    <td data-th="Name"><%= project.name %></td>
    <td data-th="Description"><%= project.description %></td>
    <td data-th="Author"><%= project.author %></td>
    <% if (project.issues.length>0) { %>
    <td data-th="Issue">
      <table class="labels-table">
        <% for( let issue of project.issues ) { %>
          <tr>
            <td>
              <% for( let label of issue.labels ) { %>
                <td><%= label %></td>
                <% } %>
            </td>
          </tr>
          <% } %>
      </table>
    </td>
  <%}%>
  </tr>
</table>


