<link rel="stylesheet" href="/css/home.css" />
<div id="home-body-container">
  <button class="open-button">Create your project</button>

  
  <%- include('./partials/_create-project') -%>

  <h1>List Of Projects</h1>
  
    <%- include('./partials/_project-list',{projects:projects}) -%>
  
</div>
<script src="/js/general.js"></script>
