<link rel="stylesheet" href="/css/project.css" />
<div id="project-body-container">
  <button class="open-button">create issue</button>

  <%- include('./partials/_create-issue',{project:project}) -%>
  <%- include('./partials/_project',{project:project}) -%>
  
</div>
<script src="/js/general.js"></script>
