<link rel="stylesheet" href="/css/project.css" />
<div id="project-body-container">
  <button class="open-button">report a issue</button>

  <%- include('./partials/_create-issue',{project:project}) -%> <%-
  include('./partials/_project',{project:project}) -%> <% if
  (project.issues.length>0) { %>

    <%- include('./partials/_filter-issues',{project:project}) -%>

    <%- include('./partials/_issues-list',{issues:project.issues}) -%>
  <% } %>
</div>

<script src="/js/general.js"></script>
