header {
  max-height: 15vh;
  background: linear-gradient(60deg, #0c907a, #d3d315);
  color: #fff;
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-size: 1.4em;
}
#brand-name-container > a {
  cursor: pointer;
  text-decoration: none;
  color: #fff;
}
#header-links-list {
  display: flex;
}
#header-links-list > li {
  list-style: none;
  margin-left: 10px;
}
#header-links-list > li > a {
  text-decoration: none;
  padding: 9px 12px;
  background-color: #0c907a;
  border-radius: 2px;
  color: white;
}
#header-links-list > li > a:hover {
  background-color: #0c978c;
}

#header-links-list > li > a:active {
    background-color: #185550;
  }

@media only screen and (max-width: 720px) {
  header {
    font-size: 1.1em;
    padding: 0 6px;
  }
}
@media only screen and (max-width: 600px) {
  header {
    font-size: 0.9em;
    padding: 0 6px;
  }
}
@media only screen and (max-width: 350px) {
  header {
    font-size: 0.65em;
    padding: 0 3px;
  }
  #header-links-list > li > a {
    font-size: 0.9em;
  }
}
