#home-body-container {
  padding-top: 20px;
  border: 12px solid lightgrey;
  border-top: none;
  width: 80%;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#home-body-container ul {
  max-width: 70%;
  top: 40px;
}

#home-body-container ul li {
  margin-bottom: 30px;
  list-style: none;
}

.open-button {
  display: inline-block;
  max-width: 250px;
  padding: 9px 12px;
  background-color: #0b8787;
  border: none;
  cursor: pointer;
  color: white;
  font-size: larger;
}

.modal {
  padding: 1em;
  max-width: 50ch;
  border: none;
  box-shadow: 0 0 0.5rem 0 grey;
}
.modal > * {
  margin: 0 0 0.5rem 0;
}
.modal::backdrop {
  background: linear-gradient(45deg, blue, white);
  opacity: 0.2;
}

.form-container {
  min-height: 400px;
  max-width: 400px;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
.form-container form {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 0.9em;
}

.form-container form fieldset textarea {
  border: none;
  resize: none;
  width: 100%;
}
.form-container form fieldset textarea:focus {
  outline: none;
}

.form-container form input {
  flex-basis: 40px;
  background-color: inherit;
  border: none;
  border-bottom: 1px solid grey;
  padding: 6px 9px;
  outline: none;
}
.form-container form input:last-of-type {
  background: linear-gradient(45deg, #07dbdb, #06b206);
  border: none;
  font-size: larger;
  cursor: pointer;
  transition: font-size 0.2s ease-in-out;
}
.form-container form input:last-of-type:hover {
  font-size: 1.35em;
}

.close-button {
  margin-top: 13px;
  background: linear-gradient(45deg, #86630b, #e9a905);
  color: white;
  padding: 2px 15px;
  cursor: pointer;
  transition: font-size 0.2s ease-in-out;
  border: none;
}

.close-button:hover {
  background: linear-gradient(90deg, #86630b, #e9a905);
}

.close-button:active {
  background: linear-gradient(90deg, #fb5710, #a99a72);
}

.close-button p {
  font-size: 1.1em;
}

#project-list {
  width: 80%;
  background: #fda7b4;
  padding: 3.5vw;
}

#project-list a{
  text-decoration: none;
  color: #000;
  cursor: pointer;
}

#project-list li table {
  border-spacing: 1.3em;
}


